<div class="container flexbox justify-between align-center wrap" id="main-h">
    <i id="to-show" class="fas fa-bars show" onclick="slideIn('mobile-navbar')"></i>
    <h1 class="logo">Cristocaves</h1>
    <div>
        <div class="controls flexbox align-center wrap">
            <form>
                <div class="row">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Cerca una piantina...">
                </div>
            </form>
            <div class="icon">
                <i class="fas fa-user"></i>
            </div>
        </div>
        <div class="flexbox" style="margin-top: 10px;">
            <button style="border: 2px solid white;" onclick="toggle('login-container')"> Login </button>
            <button style="border: 2px solid white; margin-left: 10px;"
                onclick="toggle('register-container')"> Registrati </button>
        </div>
    </div>
</div>