/* https://flatuicolors.com */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
    --black: #212121;
    --white: #fefefe;
    --dark-green: #009432;
    --med-green: #A3CB38;
    --light-green: #C4E538;
    --darkest-green: #006266;
    --hover-green: #62e68e;
}

body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    background: var(--white);
}

#header {
    background: var(--dark-green);
    height: 25vh;
    width: 100%;
}

#header #navbar {
    width: 100%;
    height: 60px;
    background: var(--med-green);
}

#header #navbar nav {
    position: relative;
    margin: 0 auto;
    width: 80%;
}

#header #navbar nav a {
    font-size: 1.05em;
    margin-right: 20px;
    color: var(--white);
    text-decoration: none;
}

#header .container {
    position: relative;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

#header h1.logo {
    color: var(--white);
    margin: 0;
    padding: 0;
    font-size: 2.5em;
}

#header .controls .icon {
    width: 30px;
    height: 30px;
    margin: 10px;
    color: var(--white);
    font-size: 1.75em;
}

.flexbox {
    display: flex;
}

.flexbox.align-center {
    align-items: center;
}

.flexbox.align-top {
    align-items: flex-start;
}

.flexbox.justify-center {
    justify-content: center;
}

.flexbox.wrap {
    flex-wrap: wrap;
}

.flexbox.justify-between {
    justify-content: space-between;
}

.row {
    position: relative;
}

.row i {
    position: absolute;
    top: 15px;
    left: 7.5px;
    font-size: .85em;
}

#main {
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
    padding: 40px;
}

#main h1 {
    font-size: 3.5em;
    color: var(--darkest-green);
}

#main .sidebar {
    border-radius: 10px;
    width: 20%;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#main .sidebar ul {
    list-style: none;
    padding: 0;
}

#main .sidebar ul li {
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 1px dashed lightgrey;
}

#main .sidebar ul.noborder li {
    border-bottom: none !important;
    margin-top: 20px;
    text-indent: 20px;
    margin-bottom: 0;
}

#main .sidebar ul li .dropdown-content {
    display: none;
}

#main .main-view {
    margin-top: -20px;
    margin-left: 30px;
    flex: 1;
}

#main .main-view .item {
    width: 250px;
    padding: 20px;
    height: 40vh;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06), 0 3px 6px rgba(0, 0, 0, 0.23);
    text-align: center;
}

#main .main-view .item img {
    max-width: 80%;
    max-height: 80%;
}

.modal-container {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100%;
    z-index: 100;
}

#main .prod-image {
    width: 50vw;
    height: 50vh;
}

#main .prod-image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.fancy-list {
    width: 100%;
    padding: 0;
}

.fancy-list li {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid var(--dark-green);
    list-style: none;
    width: 100%;
}

.fancy-list li .image {
    height: 20vh;
}

.fancy-list li .image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.modal-container .modal {
    background: var(--white);
    padding: 20px;
    border-radius: 10px;
}

/*form{}*/
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
input[type="number"] {
    height: 40px;
    background: var(--white);
    outline: none;
    border: none;
    border-radius: 5px;
    text-indent: 25px;
    max-width: 300px;
    width: 100%;
}

input.bordered,
textarea.bordered {
    display: block;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    margin-bottom: 20px;
}

form textarea.bordered {
    font-family: 'DM Sans', sans-serif;
    text-indent: 0;
    padding: 25px;
}

button {
    border: none;
    background: var(--dark-green);
    color: var(--white);
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;

    transition: .2s all ease;
}

button:hover {
    background: var(--darkest-green);
}

/*.to-block{}*/
.to-flex {
    height: 100%;
}

@media screen and (max-width: 1200px) {

    #main-sidebar {
        display: none;
    }

    #main-flexbox {
        justify-content: center;
    }

    #main h1#main-title {
        text-align: center;
    }

    #main .main-view {
        margin-left: 0;
    }

    #main .main-view .item {
        width: 100%;
        height: auto;
    }

    #main .main-view .item img {
        max-width: 60%;
        max-height: 60%;
    }

    .to-block {
        display: block !important;
    }

    .to-flex {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

}

.animated-left {
    animation: lslidein .75s ease-in-out;
}

.show {
    display: none;
}

@keyframes lslidein {
    from {
        left: -100vw
    }

    ;

    to {
        left: 0vw
    }

    ;
}

@media screen and (max-width: 768px) {
    #main {
        width: 100%;
        padding: 0;
    }

    #header {
        height: 40vh;
    }

    #header .container {
        padding: 0;
    }

    #navbar {
        display: none;
    }

    #to-show {
        position: absolute;
        color: var(--white);
        font-size: 1.5em;
        top: 30px;
        right: 0;
    }

    .show {
        display: block;
    }

    .slider {
        position: fixed;
        height: 100vh;
        width: 100%;
        background: var(--white);
        z-index: 1200;
        left: -100vw;

        transition: .4s all ease;
    }

    .slider button {
        position: absolute;
        right: 30px;
        top: 30px;
    }
}



table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.7);
}

th {
    text-align: left;
}

thead th {
    background-color: var(--dark-green);
}

tbody tr:hover {
    background-color: rgba(98, 230, 142, 0.4);
}

tbody td {
    position: relative;
    color: gray;
}

tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(98, 230, 142, 0.4);
    z-index: -1;
}

/*FOOTER*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: var(--white);
    background-color: var(--dark-green);
}

.footer>* {
    flex: 1 100%;
}

.footer-left {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer-left h2 {
    width: 50%;
}

h2 {
    font-weight: 400;
    font-size: 17px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footer-right {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}

.footer-right>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.box {
    color: #999;
}

.footer-bottom {
    text-align: center;
    color: #999;
    padding-top: 50px;
}

.footer-left p {
    padding-right: 20%;
    color: var(--white);
}

.footer-right li {
    color: var(--white);
}

.socials a {
    background: #364a62;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
}

.socials a i {
    color: #e7f2f4;
    padding: 10px 12px;
    font-size: 20px;
}

@media screen and (min-width: 600px) {
    .footer-right>* {
        flex: 1;
    }

    .footer-left {
        flex: 1 0px;
    }

    .footer-right {
        flex: 2 0px;
    }
}
/*acquistoCompletato*/


.content {
    opacity: 1;
    /*se voglio utilizzare solo la finestrella deve essere 1 se no 0*/
    visibility: visible;
    /*se voglio utilizzare solo la finestrella deve visible se no hidden*/
    width: 100%;
    height: 350px;
    background: white;
    border-radius: 3px;
    transition: .3s ease-in;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .4);
}

.header {
    height: 68px;
    background: #27ae60;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
}

.header h2 {
    color: white;
    padding-left: 32px;
    font-weight: normal;
}


.fa-check {
    font-size: 50px;
    color: #27ae60;
    font-weight: bold;
    height: 80px;
    width: 80px;
    border: 2px solid #27ae60;
    text-align: center;
    padding-top: 13px;
    border-radius: 50%;
    box-sizing: border-box;
}

p {
    padding-top: 10px;
    font-size: 19px;
    color: #1a1a1a;
    text-align: center;
}

.line {
    position: absolute;
    bottom: 65px;
    width: 100%;
    height: 1px;
    background: silver;
}

.close-btn {
    position: absolute;
    bottom: 12px;
    right: 25px;
    border: 1px solid #27ae60;
    border-radius: 3px;
    color: #27ae60;
    padding: 8px 10px;
    font-size: 18px;
    cursor: pointer;
}

.close-btn:hover {
    background: #27ae60;
    color: white;
    transition: .5s;
}